body {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 30px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
