.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 660px;
  }

  @media screen and (min-width: 1280px) {
    width: 1100px;
  }
}
