<header>
  <div class="header-wrap">
    <form action="" class="thumb-input container">
      <button id="search" type="submit">
        <svg class="thumb-input__location" width="22" height="22">
          <use href="./images/symbol-defs.svg#icon-location"></use>
        </svg>
      </button>
      <input name="name-city" type="text" class="thumb-input__text" placeholder="Enter the city" />
      <button id="favorites" type="button">
        <svg class="thumb-input__star" width="22" height="22">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
      </button>
    </form>
  </div>

  <div class="favorite-city">
    <button class="favorite-city__btnPrev">
      <svg class="favorite-city__icon" width="22" height="22">
        <use href="./images/symbol-defs.svg#icon-prev"></use>
      </svg>
    </button>
    <div class="favorite-city__list"></div>
    <button class="favorite-city__btnNext">
      <svg class="favorite-city__icon" width="22" height="22">
        <use href="./images/symbol-defs.svg#icon-next"></use>
      </svg>
    </button>
  </div>
</header>
