<section class="home">
  <div class="container home-container">
    <div class="home-weather home-info-field"></div>
    <div class="home-buttons">
      <button class="home-today-btn"></button>
      <button class="home-days-btn"></button>
    </div>
    <div class="home-day home-info-field">
      <p class="home-date">8<sup>th </sup>Sat</p>
      <div class="home-wrap-info">
        <div class="home-wrap-date">
          <p class="home-weekday">February</p>
          <p class="home-time">21:30:56</p>
        </div>
        <div class="home-wrap-sun">
          <div class="home-wrap-sunrise">
            <svg class="icon-home-sunrise" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-home-sunrise"></use>
            </svg>
            <p class="home-sunrise">07:04</p>
          </div>
          <div class="home-wrap-sunset">
            <svg class="icon-home-sunset" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-home-sunset"></use>
            </svg>
            <p class="home-time">17:05</p>
          </div>
        </div>
      </div>
    </div>
    <div class="quote"></div>
  </div>
</section>
