<section class="home">
  <div class="container home-container">
    <div class="home-weather home-info-field">
      <svg class="icon-home-clouds" width="35" height="25">
        <use href="./images/symbol-defs.svg#icon-home-clouds"></use>
      </svg>
      <p class="home-city">Kyiv, UA</p>
      <div class="home-wrap-degrees">
        <p class="home-degree">-3</p>
        <div class="home-wrap-temperature">
          <p class="home-min-degree"><span>min</span> -2&#176;</p>
          <p class="home-max-degree"><span>max</span> 1&#176;</p>
        </div>
      </div>
    </div>
    <div class="home-buttons">
      <button class="home-today-btn"></button>
      <button class="home-days-btn"></button>
    </div>
    <div class="home-day home-info-field">
      <p class="home-date">8<sup>th </sup>Sat</p>
      <div class="home-wrap-info">
        <div class="home-wrap-date">
          <p class="home-weekday">February</p>
          <p class="home-time">21:30:56</p>
        </div>
        <div class="home-wrap-sun">
          <div class="home-wrap-sunrise">
            <svg class="icon-home-sunrise" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-home-sunrise"></use>
            </svg>
            <p class="home-sunrise">07:04</p>
          </div>
          <div class="home-wrap-sunset">
            <svg class="icon-home-sunset" width="20" height="20">
              <use href="./images/symbol-defs.svg#icon-home-sunset"></use>
            </svg>
            <p class="home-time">17:05</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
