.thumb-input {
  position: relative;
  display: flex;

  width: 280px;
  height: 48px;
  margin: 0 auto;
  padding: 13px 20px;
  border-radius: 30px;

  @media screen and (min-width: 480px) {
    width: 500px;
  }

  #search {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    background-color: #fff;
  }

  #favorites {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    background-color: #fff;
  }

  .thumb-input__text {
    width: 100%;
    margin: 0 35px;
    border: none;
  }
}
