.home {
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1280px) {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.home-info-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 280px;
  height: 190px;
  border-radius: 34px;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 300px;
  }
}

.home-weather {
  margin-top: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #102136;
  @media screen and (min-width: 768px) {
    padding-top: 34px;
    padding-bottom: 37px;
  }
  @media screen and (min-width: 1280px) {
    width: 450px;
    margin-top: 90px;
    margin-left: auto;
    padding-bottom: 29px;
    border-radius: 34px 0 0 34px;
  }
  .icon-home-clouds {
    margin-bottom: 5px;
    width: 35px;
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }
  .home-city {
    color: #767d85;
    font-size: 16px;
    margin-bottom: 17px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
.home-wrap-degrees {
  display: flex;
  justify-content: space-between;
  width: 167px;
  @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: column;
  }

  .home-degree {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      font-size: 90px;
      margin-bottom: 16px;
    }
  }
}

.home-wrap-temperature {
  display: flex;
  align-items: center;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  span {
    font-size: 14px;
    color: #767d85;
  }
}

.home-min-degree,
.home-max-degree {
  // display: inline-block;
  text-align: center;
  width: 26px;
}

.home-min-degree {
  position: relative;
  margin-right: 20px;
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    right: -10px;
    width: 1px;
    height: 35px;
    background-color: #27384a;
    @media screen and (min-width: 768px) {
      height: 40px;
    }
  }
}

.home-day {
  background-color: rgba(16, 33, 54, 0.8);
  padding-top: 30px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 500px;
    height: 278px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    margin-right: auto;
    margin-top: auto;
    width: 630px;
    padding-bottom: 90px;
    padding-left: 110px;
    border-radius: 0 34px 0 0;
    align-items: flex-start;
    background: rgba(16, 33, 54, 0.6);
  }

  .home-date {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      font-size: 90px;
    }
  }
  .home-wrap-date {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
      margin-right: 40px;
    }
  }

  .home-wrap-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }
  }
}

.home-weekday {
  position: relative;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -10px;
    width: 1px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    @media screen and (min-width: 768px) {
      right: -20px;
    }
  }
}

.home-wrap-sun {
  font-size: 14px;
  display: flex;
  letter-spacing: 0.04em;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  .home-wrap-sunrise {
    display: flex;
  }
  .home-wrap-sunset {
    display: flex;
  }
}

.home-sunrise {
  position: relative;
  margin-right: 20px;
  margin-left: 10px;
  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -10px;
    width: 1px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    @media screen and (min-width: 768px) {
      right: -20px;
    }
  }
}

.icon-home-sunset {
  margin-right: 10px;
}
