.home-btn {
  padding: 6px 40px;

  display: inline-block;

  font-family: 'Lato';
  font-size: 14px;
  font-weight: 700;

  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);

  &:not(:last-child) {
    margin-right: 18px;
  }
}
.home-btn:disabled {
  background: #ffffff;
  color: #000;
  cursor: default;
}
