.quote {
  width: 280px;
  color: white;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
      width: 379px;
      margin-right: 75px;
  }

  @media screen and (min-width: 1280px) {
      width: 340px;
      position: absolute;
      right: -10px;
      top: 350px;
  }

  text-align: right;

  p {
      font-size: 14px;
      line-height: calc(16.8 / 14);

      @media screen and (min-width: 768px) {
          font-size: 22px;
          line-height: calc(26.4 / 22);
      }

      font-style: italic;
      margin-bottom: 15px;
  }

  span {
      font-size: 18px;
      line-height: calc(21.6 / 18);
  }
}